<div class="col-md-12 text-center text-white">
    <h2>Implantes Dentales</h2>
    <span class="font-weight-bold"> desde </span> <span class="font-weight-bold" style="color:#FF6319">$</span><span class="display-4 font-weight-bold" style="color:#FF6319">3.400* </span>
    <div class="">diarios <a href="#">Aplican términos y condiciones</a> </div>

</div>

<div class="card col-md-10 p-4 mt-4" style="margin:auto">

    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <h4 class="color">Solicita tu</h4>
        <h2 class="color">COTIZACIÓN GRATIS!</h2>
        <div class="form-group">
            <label for="full_name">Nombre Completo*</label>
            <input type="text" class="form-control" name="full_name" placeholder="Ingrese su nombre" formControlName="full_name">
            <div *ngIf="forma.controls['full_name'].invalid && (forma.controls['full_name'].dirty || forma.controls['full_name'].touched)" class="alert alert-danger">

                <div *ngIf="forma.controls['full_name'].errors?.required">
                    El nombre es requerido
                </div>
                <div *ngIf="forma.controls['full_name'].errors?.minlength">
                    Por lo menos 8 caracteres
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico*</label>
            <input type="email" class="form-control" name="email" required placeholder="Ingrese su correo electrónico" formControlName="email">
            <div *ngIf="forma.controls['email'].invalid && (forma.controls['email'].dirty || forma.controls['email'].touched)" class="alert alert-danger">

                <div *ngIf="forma.controls['email'].errors?.required">
                    El email es requerido
                </div>
                <div *ngIf="forma.controls['email'].errors?.pattern">
                    Debe ser un correo válido
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="phone">Celular*</label>
            <input type="text" class="form-control" name="phone" required placeholder="Ingrese su teléfono" formControlName="phone">
            <div *ngIf="forma.controls['phone'].invalid && (forma.controls['phone'].dirty || forma.controls['phone'].touched)" class="alert alert-danger">

                <div *ngIf="forma.controls['phone'].errors?.required">
                    El teléfono es requerido
                </div>
                <div *ngIf="forma.controls['phone'].errors?.pattern">
                    Debe ser un número válido
                </div>
                <div *ngIf="forma.controls['phone'].errors?.minlength">
                    Por lo menos 8 caracteres
                </div>

            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="acepta" formControlName="acepta">
            <label class="form-check-label" for="acepta">
                  Acepto las <a href="#">Políticas de Datos personales y Privacidad</a> sujeto a valoración odontológicas
                </label>
        </div>
        <button [disabled]="!forma.valid" type="submit" class=" button btn btn-block text-white font-weight-bold">Solicitar</button>
    </form>

</div>