<div class="col-md-12 text-center text-white">
    <h2>Implantes Dentales</h2>
    <span class="font-weight-bold"> desde </span> <span class="font-weight-bold" style="color:#FF6319">$</span><span class="display-4 font-weight-bold" style="color:#FF6319">3.400* </span>
    <div class="">diarios <a href="#">Aplican términos y condiciones</a> </div>

</div>

<div class="card col-md-10 p-4 mt-4" style="margin:auto">

    <form>
        <h4 style="color:#002395">Solicita tu</h4>
        <h2 style="color:#002395">COTIZACIÓN GRATIS!</h2>
        <div class="form-group">
            <label for="name">Nombre Completo*</label>
            <input type="text" class="form-control" id="name" aria-describedby="Nombre" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico*</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group">
            <label for="phone">Celular*</label>
            <input type="text" class="form-control" id="phone" aria-describedby="Telefono" placeholder="Ingrese su teléfono">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="terminos">
            <label class="form-check-label" for="terminos">
                  Acepto las <a href="#">Políticas de Datos personales y Privacidad</a> sujeto a valoración odontológicas
                </label>
        </div>
        <button type="submit" class=" button btn btn-block text-white font-weight-bold">Solicitar</button>
    </form>

</div>