@media only screen and (max-width:767px) {
    .subtitulo {
        color: black;
    }
}

span {
    color: #FF6319;
}

.titulo {
    font-weight: bold;
    color: #002395;
}

@media only screen and (max-width:600px) {
    .titulo {
        text-align: center;
    }
}

.content {
    margin-top: 25px;
}