<!--Componente navbar-->
<app-navbar></app-navbar>
<div class="main animated fadeIn fast">

    <div class="container">
        <div class="row">
            <div class=" caw col-md-6 text-white d-flex align-content-center flex-wrap ">
                <h2 class="text-center">¡Gracias!</h2>
                <h3>Hemos recibido tu solicitud, Espera pronto nuestra llamada</h3>
                <button type="submit" class=" button btn text-white font-weight-bold">Ir al sitio web</button>
            </div>
            <div class="col-md-5 img">
                <img src="assets/img/sonrria.png" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</div>
<!--Componente footer-->
<app-footer></app-footer>