.triangulo {
    -webkit-transform: translateX(0);
}

.triangulo::before {
    content: '';
    border-style: solid;
    border-width: 38px 0px 0px 38px;
    border-color: #3d89b0 transparent transparent transparent;
    transform: rotate(40deg);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: -19px;
}

.subtitulo {
    font-size: 0.7rem;
}

@media only screen and (max-width:767px) {
    .subtitulo {
        color: black;
    }
}

@media only screen and (max-width:1206px) {
    .triangulo::before {
        content: '';
        border-style: solid;
        border-width: 38px 0px 0px 38px;
        border-color: transparent transparent transparent transparent;
        transform: rotate(40deg);
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0px;
        bottom: -19px;
    }
}

.main-carrusel {
    background-color: rgb(37, 77, 111);
}

.carrusel-info {
    margin: 0px 18px 0 18px;
}

.control {
    width: 109px;
    height: 109px;
    border-radius: 50%;
    background-color: rgba(221, 203, 162, 0.507);
    position: relative;
    margin: 18%;
}

.control-carrusel {
    padding: 12%;
}

.carrusel-center {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin: 29%;
}

.sonrrisas-mini {
    margin-top: 65px;
    margin-bottom: 82px;
}

.img-carrusel {
    margin-top: 15%;
    background-color: #3d89b0;
    padding: 9%;
    border-radius: 50%;
}