<div class="card text-white" style="background-color:rgb(37, 77, 111);">
    <div class="container mt-4">
        <h6 class="card-subtitle mb-2">Como podría *</h6>
        <h5 class="card-title">Verse tu sonrrisa</h5>
    </div>

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators d-flex justify-content-between" style="margin: 0px 18px 0 18px;">
                <p class="font-weight-bold">Antes</p>
                <p class="font-weight-bold">Después</p>
            </ol>


            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="assets/img/sonrrisa.png" class="card-img-top" alt="">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/sonrrisa.png" class="card-img-top" alt="">

                </div>
                <div class="carousel-item">
                    <img src="assets/img/sonrrisa.png" class="card-img-top" alt="">

                </div>
                <div class="control" style="width: 109px; height: 109px; border-radius: 50%; background-color: rgba(221, 203, 162, 0.507); position: relative; margin: 18%;">
                    <a style="padding: 12%;" class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <i class="fas  fa-2x fa-chevron-left"></i>
                    </a>
                    <div class="control" style="width: 45px; height: 45px; border-radius: 50%; background-color: white; position: absolute; margin:29%">

                    </div>
                    <a style="padding: 12%;" class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <i class="fas  fa-2x fa-chevron-right"></i>
                    </a>
                </div>
            </div>






        </div>
    </div>
    <p class="card-text text-white">
        * Esta imagen es de referencia. Consúltanos cómo podrías verte
    </p>
</div>
<div class=" d-flex justify-content-between text-white" style="margin-top:65px;margin-bottom:82px">

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-fluid" style="margin-top: 15%;background-color: #3d89b0 ;padding: 9%;border-radius: 50%;">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te falta un diente</div>
    </div>

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-fluid" style="margin-top: 15%;background-color: #3d89b0 ;padding: 9%;border-radius: 50%;">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te faltan dos diente</div>
    </div>

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-fluid" style="margin-top: 15%;background-color: #3d89b0 ;padding: 9%;border-radius: 50%;">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te faltan tres diente</div>
    </div>

</div>