<div class="main-carrusel card text-white">
    <div class="container mt-4">
        <h6 class="card-subtitle mb-2">Como podría *</h6>
        <h5 class="card-title">Verse tu sonrrisa</h5>
    </div>

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carrusel-info carousel-indicators d-flex justify-content-between">

                <p class="font-weight-bold">Antes</p>
                <p class="font-weight-bold">Después</p>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{images[0].url}}" class="card-img-top" alt="">
                </div>
                <div class="carousel-item" *ngFor="let image of images;">
                    <img src="{{image.url}}" class="card-img-top" alt="">
                </div>

                <div class="control">
                    <a class="control-carrusel carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <i class="fas  fa-2x fa-chevron-left"></i>
                    </a>
                    <div class="carrusel-center">

                    </div>
                    <a class="control-carrusel carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <i class="fas  fa-2x fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="card-text text-white">
        * Esta imagen es de referencia. Consúltanos cómo podrías verte
    </p>
</div>
<div class="sonrrisas-mini d-flex justify-content-between text-white">

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-carrusel img-fluid">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te falta un diente</div>
    </div>

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-carrusel img-fluid">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te faltan dos diente</div>
    </div>

    <div class=" col-md-3 col-sm-3 col-xs-3">
        <div class="triangulo">
            <img src="assets/img/dientes.png" alt="" class="img-carrusel img-fluid">
        </div>
        <div class="subtitulo font-weight-bold" style="margin-top: 26%;">Si te faltan tres diente</div>
    </div>

</div>