<section class="footer d-flex bd-highlight mb-3 text-white animated fadeIn fast">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                Copyright <i class="fa fa-copyright" aria-hidden="true"> </i> 2018 - Sonrria
            </div>
            <div class="p-2">
                <div>
                    Llama gratis desde tu celular <strong> #262</strong>
                </div>
            </div>
        </div>
    </div>

</section>